.playerHand{
  border-style: groove;
  border-width: 5px;
  height: 400px;
  width: 300px;
  border-color: black;
  float:right;

}

.computerHand{
  border-style:dotted;
  border-width:5px;
  height:400px;
  width:300px;
  border-color:green;
  float:left;
}

.war_button{
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 250%;
  color: blue;
}

.playhand{
  border-style: dashed;
  text-align: right;
  float:right;

}
.comphand{
  float:left;
  border-style: dashed;
  text-align: left;
  font-family: helvetica, sans-serif;
  font-size: 250%;
  width: 300px;


}
