body {
    background-color: lightblue;
}


.playerHand{
  border-style: groove;
  border-width: 5px;
  height: 400px;
  width: 300px;
  border-color: black;
  border-radius: 25px;
  float:right;
  font-size: 200%;

}

.computerHand{
  border-style:groove;;
  border-width:5px;
  height:400px;
  width:300px;
  border-color:black;
  border-radius: 25px;
  float:left;
  font-size:200%;
}

.war_button{
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 250%;
  color: blue;
}

.playhand{
  text-align: right;
  font-family: helvetica, sans-serif;
  font-size: 250%;



}
.comphand{
  text-align: left;
  font-family: helvetica, sans-serif;
  font-size: 250%;
  width: 300px;


}
